<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'app/banner.html' %}
    {% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Files | FileServer</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div id="login-form">
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Log In</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>