html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#copyright {
  background-blend-mode: lighten;
  background-color: rgb(34, 34, 34);
  width: 100%;
  padding: 25px;
  font-weight: bolder;
}
footer {
  background-color: rgb(46, 46, 46);
  text-align: center;
}
#copyright span {
  color: white;
}
footer h3 {
  font-weight: bolder;
  color: white;
}
.white-text {
  color: white;
}
.font-weight-bold {
  font-weight: bolder;
}
#footer-controls-container,
#footer-controls-container li {
  list-style-type: none;
  text-align: center;
  color: white;
}
/* nav-bar */
.navbar {
  background-color: rgb(49, 49, 49);
  margin-bottom: 0;
  border-radius: 0;
}
.nav-item > a {
  font-size: 20px;
  color: rgb(223, 223, 223) !important;
  text-decoration: none;
}
.nav-item > a:hover {
  opacity: 0.7;
}
.navbar-brand {
  font-size: 24px;
}
