body {
  color: white;
}
.heading {
  text-align: center;
  padding-bottom: 3rem;
  border-bottom: 2px solid gray;
}
.about {
  margin-top: 10%;
  padding: 20px;
}
.username-banner {
  margin-bottom: 5rem;
  margin-top: 3rem;
  padding: 10px;
  text-align: center;
}
.username-banner > h1 {
  font-weight: bolder;
}
