<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    {% block header %}
    <title>Banner Template</title>
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FileServer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/files/">Files</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">User</a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="/user/{{ user.username }}">Your Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            {% if user.is_staff %}
                            <li><a class="dropdown-item" href="/admin/">Admin Page</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Help</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    <footer>
        <div class="container footer-container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>FileServer</h3>
                    <p class="white-text">FileServer is a fileserver.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Get in touch</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><span class="font-weight-bold">></span><a href="https://discord.gg/xKjXDwWyfk"> Discord</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Development</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><span class="font-weight-bold">></span><a href="https://github.com/compsup/FileServer"> GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="copyright">
            <span>&copy; 2020-2021 - compsup</span>
        </div>
    </footer>
    {% endblock %}
</body>
</html>