<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'app/banner.html' %}
    {% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/file-upload.css' %}">
    <title>Upload | FileServer</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <a class="btn btn-primary back fa fa-arrow-left" href="/files/"> Back to files</a>
    <form enctype="multipart/form-data" action="" method="post">
        <h1>Upload a File</h1>
        <div class="inputs well">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <input type="submit" value="Save" class="btn btn-success">
    </form>
    {% endblock %}
</body>
</html>