<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'app/banner.html' %}
    {% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Home | FileServer</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div id="content">
        <div>
            {% if user.is_authenticated %}
            <h3 id="user-greeting">Hi {{ user.username }}!</h3>
            {% endif %}
            <div class="" id="title-div">
                <h1>FileServer</h1>
                <p>A simple http/https django web fileserver</p>
            </div>
            <div class="header-content">
                <h2>Getting Started?</h2>
                <h5>Take a look at the <a href="#">Getting Started</a> page.</h5>
            </div>
            <div class="header-content">
                <h1></h1>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>
