<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'app/banner.html' %}
    {% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Home | FileServer</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div id="content">
        <div class="alert alert-warning" role="alert">
            <strong> Version 0.1.0-alpha | Warning! - </strong>This is a development version.
        </div>
        <div>
            {% if user.is_authenticated %}
            <h3 id="user-greeting">Hi {{ user.username }}!</h3>
            <p class='logout-link'><a href="{% url 'logout' %}">Log Out</a></p>
            {% else %}
            <h2><a href='/accounts/login/'>Login</a></h2>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>

</html>